body {
     background-color: hsl(0, 0%, 8%);
     width: 100%;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     min-height: 100vh;
}

.div1 {
   background-color: hsl(0, 0%, 12%);
   display: flex;
   width: 350px;
   height: 565px;
   align-items: center;
   justify-content: center;
   text-align: center;
   flex-direction: column;
}

.isimh2 {
   color: white;
   font-family: sans-serif;
   font-size: 30px;
   display: inline;
   margin-top: 0px;
   margin-bottom: 3px;
}

.greentext {
    color: hsl(75, 94%, 57%);
    font-family: sans-serif;
    font-size: 14px;
    margin-top: 1px;
    margin-bottom: 5px;
}

.desc {
    color: white;
    font-size: 13px;
    margin-bottom: 20px;
    font-family: sans-serif;
    margin-top: 20px;

}

.button {
    display: inline;
    width: 75%;
    background-color: hsl(0, 0%, 20%);
    border-radius: 5px;
    padding: .8rem;
    border: none;
    outline: none;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: .3s;
    margin-bottom: 12px;

}
.button:hover {
    background-color: hsl(75, 94%, 57%);

}
.button:focus {
    background-color: purple;
}

a {
    text-decoration: none;
    font-family: sans-serif;
    font-weight: lighter;
}
img {
    border-radius: 50%;
    weight: 75px;
    height: 75px;
    margin-bottom: 15px;
}
